{% load static %}
{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Password Changed - TrashToTreasure</title>
    <link rel="stylesheet" href="{% static 'css/buyer_profile.css' %}">
</head>

<body>
    <section class="product-banner">
        <h2>Password Changed Successfully</h2>
        <p>Your password has been updated. 
            <p>Your password has been updated. 
                {% if user.is_authenticated %}
                    {% if user.role == 'artisan' %}
                        <a href="{% url 'artisan_profile' %}">Go back to profile</a>
                    {% elif user.role == 'buyer' %}
                        <a href="{% url 'buyer_profile' %}">Go back to profile</a>
                    {% elif user.role == 'driver' %}
                        <a href="{% url 'driver_profile' %}">Go back to profile</a>
                    {% endif %}
                {% endif %}
            </p>            
    </section>
</body>

</html>

{% include "footer.html" %}
