{% load static %}
{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Change Password - TrashToTreasure</title>
    <link rel="stylesheet" href="{% static 'css/buyer_profile.css' %}">
</head>

<body>
    <section class="product-banner">
        <h2>Change Password</h2>
        <p><a href="/">Home</a> > Change Password</p>
    </section>

    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-container">
                <button type="submit">Update Password</button>
                {% if user.is_authenticated %}
                    {% if user.role == 'artisan' %}
                        <a href="{% url 'artisan_profile' %}" class="logout-btn">Cancel</a>
                    {% elif user.role == 'buyer' %}
                        <a href="{% url 'buyer_profile' %}" class="logout-btn">Cancel</a>
                    {% elif user.role == 'driver' %}
                        <a href="{% url 'driver_profile' %}" class="logout-btn">Cancel</a>
                    {% endif %}
                {% endif %}

            </div>
        </form>
    </div>
</body>

</html>

{% include "footer.html" %}
